@{
    ViewBag.Title = "Home Page";
}

<div id="injecthere">

</div>

<script>

    function IC() {
        $("#craigs-model").modal("show")
        $(".save-changes-btn").click(function () {

            console.log("Save Me!!!")
            var bob = $("#edit-student-form").serialize();
            console.log(bob)
            $.ajax({
                url: '/Home/SaveEdit',
                type: 'post',
                data: bob,
                success: function (result) {

                }

            })
        })
    }
    function InjectHere(url,id, functionHere) {
        $.ajax({
            url: url,
            type: 'get',
            success: function (html) {
                $("#injecthere").html(html)
                $(".edit").click( function () {
                    $.ajax({
                        url: '/Home/EditView',
                        type: 'post',
                        data: { id: 4 },
                        success: function (html) {
                            $(id).html(html)
                            functionHere()
                        }
                    })
                })
            }
        })

        
    }
    InjectHere('/Home/GetModelList', '#edit-student-form', IC)
</script>